html {
  background: white;
  font-size: 100%;
  font-family: monospace;
}

.onclick {
  cursor: pointer;
}

.onclick:hover {
  color:green;
}

.product-details-div {
  width: 80vw;
  border: 2px solid black;
  margin: auto;
}