.star-rating-container {
  display: flex;
  align-items: center;
}

.star-rating-front {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 0;
  overflow: hidden;
  color: black;
}

.star-rating-back {
  display: flex;
  position: relative;
  color:white;
  stroke-width: 4%;
  stroke: black;
}

.star-svg {
  flex-shrink: 0;
}
