.questions-div {
  margin: 10px;
  /* padding: 2%; */
  border: 4px solid black;
}

.question-search{
  margin: 10px;
  padding: 5px;
  border: 4px solid blue;
}

/* Should be scrollable and fit screen */
.question-list{
  margin: 10px;
  padding: 5px;
  border: 4px solid blue;
}

.list-item {
  margin: 10px;
  padding: 5px;
  border: 4px solid green;
}


.item-question {
  height: fit-content;
  display: flex;
  flex-direction: row;
  border: 2px solid red;
}

.question-body {
  font-weight: bold;
}

.question-info {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 5px;
}

.item-answer {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.answer-info {
  display: flex;
  flex-direction: row;
  border: 2px solid red;
  padding-top:0%;
}

/*
.question-add{
  margin: 2%;
  padding: 2%;
  border: 4px solid blue;

}

.answer-photo {
  min-height: 100px;
  min-width: 100px;
  border: 2px solid black;
}



.question-info {
  font-size:90%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 2px solid red;
}

.question-body {
  font-size:100%;
  margin-right: auto;
  border: 2px solid red;
}

.answer {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
}
.answer-body {
  font-size:100%;
  border: 2px solid red;
}

.answer-info {
  font-size:90%;
  display:flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 0;
  border: 2px solid red;
} */