
/* Questions Widget */

.questions-div {
  margin: 10px;
  /* padding: 2%; */
  border: 4px solid black;
  font-size:80%;
}

.questions-dev p {
  font-size: 100%;
}

.onclick {
  cursor: pointer;
}

/* Search Bar */
.question-search{
  margin: 10px;
  padding: 5px;
  border: 4px solid blue;
}

.question-search input {
  width: 80%;
}

/* Questions List */
.questions-list{
  margin: 10px;
  padding: 5px;
  border: 4px solid blue;
  max-height: 70vh;
  overflow-y: scroll;
}

/* Question Item */
.list-item {
  margin: 10px;
  padding: 5px;
  border: 4px solid green;
}

/* Question */
.item-question {
  margin: 5px;
  display: flex;
  flex-direction: row;
  border: 2px solid red;
}

.question-body {
  height:auto;
  border: 2px solid orange;
}

.question-info {
  height:fit-content;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 5px;
  border: 2px solid orange;
}

/* Answer */
.item-answer {
  margin: 5px;
  display: flex;
  flex-direction: row;
  border: 2px solid red;
}

.answers-list {
  width:80vw;
  max-height: 40vh;
  overflow-y: scroll;
}

.answer-body {
  height:fit-content;
  border: 2px solid orange;
}

.answer-info {
  height:fit-content;
  display: flex;
  flex-direction: row;
  border: 2px solid red;
}

.questions-hide-button {
  display: none;
}



/* MODALS */
.questions-modal {
  position:fixed;
  background: white;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  display:flex;
  flex-direction: column;
  border: 2px solid black;
}

.questions-modal i {
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
}

.questions-modal-header {
  margin: auto;
  text-align: center;
  border: 2px solid blue;
}


.questions-modal-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 2px;
  border: 2px solid blue;
}

.questions-modal-form button{
  width: fit-content;
  margin: auto;
}