.questions-div {
  margin: 2%;
  /* padding: 2%; */
  border: 4px solid black;
}

.question-list{
  margin: 2%;
  padding: 2%;
  border: 4px solid blue;

}

.question-search{
  margin: 2%;
  padding: 2%;
  border: 4px solid blue;
}

.question-add{
  margin: 2%;
  padding: 2%;
  border: 4px solid blue;

}


.answer-photo {
  min-height: 100px;
  min-width: 100px;
  border: 2px solid black;
}

.question {
  display: flex;
  flex-direction: row;
  border: 2px solid green;
}
.question-info {
  font-size:90%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 2px solid red;
}
.question-body {
  font-size:100%;
  margin-right: auto;
  border: 2px solid red;
}

.answer {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
}
.answer-body {
  font-size:100%;
  border: 2px solid red;
}

.answer-info {
  font-size:90%;
  display:flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 0;
  border: 2px solid red;
}