
.modal {
  background-color: #c89d9d;
  text-align: center;
  padding: 15px;
  border: 1px solid rgb(232, 240, 243);
  width: 95%; /* Could be more or less, depending on screen size */
  height: 90vh;
  overflow: scroll;
}
#closemodal {
  margin: 0%;
}