.reviewsContainer {
  display: grid;
  grid-template-columns: 0.8fr 2.2fr;
  border: blue solid;
  padding: 15px;
}
.revieListAndAddReviewContainer {
  background-color: rgb(239, 245, 248);
  width: 98%;
  height: 90vh;
  overflow: scroll;
}